@charset "utf-8";

html {
    font-family: "Roboto", sans-serif;
    background-color: #222222;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */

header {
    background-color: #171717;
    position: relative;
}

header > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    width: 5%;
    aspect-ratio: 1 / 1;
    margin: 15px;
}

h1 {
    color: #13aff0;
    margin-left: 5%;
    flex-grow: 4;
}

.redirect {
    color: #13aff0;
    text-align: right;
    align-self: flex-end;
    margin: 0% 2% 1% 2%;
}

/* RANDOM BUTTON */

.randomizer {
    display: inline-block;
    background-color: #171717;
    margin: 1.5% 0% 0% 1.5%;
    padding: 0.8%;
    border-radius: 50%;
    position:fixed;
    box-shadow: 3px 3px 1px 1px rgba(19, 175, 240, 0.3);
}

.randomizer:active {
    box-shadow: 3px 3px 1px 1px rgba(17, 17, 17, 0.3);
}

i {
    color: #13aff0;
    font-size: 2rem;
}

/* CONTENT */

.containers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1%;
    margin-left: 5%;
    align-items: flex-start;
    align-content: center;
}

.contain1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0% 0.1% 0% 0.1%;
    align-content: center;
    position: relative;
    width: 27vh;
    aspect-ratio: 1 / 1;
    margin: 2.5px;
}

.contain1 > a > p {
    opacity: 0;
    transition: .3s;
}

.contain1:hover > a > p {
    opacity: 1;
}

.pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contain1 > a {
    text-decoration: none;
    width: 100%;
}

p {
    text-align: center;
    color: #13aff0;
    background: linear-gradient(rgba(22, 22, 22, 0.692), rgb(22, 22, 22));
    /* margin-top: -42px; */
    opacity: 0;

    overflow-wrap: anywhere;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
}
